:root{
    --background-s-green: rgb(200,255,0, 0.5);
    --btn_hover: #0400ff;
}

/*STYLING AF MOBILE*/

#k_boks, #conclusion{  
    margin: 1.5rem;
    background-color: white;
    outline: solid 10px var(--background-s-green);
    margin-top: 5rem; 
    
}
#k_first_section, #conclusion{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    
}
#hul_billede_two{
    display: none;
}
#hul_billede{
    width: 80%;
 margin: 0 auto;
 margin-top: 3rem;
 padding-bottom: 4rem;
   
}


.billede_w{
    margin: 0 auto;
    background-color: black;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

}

.cards h2{
    background-color: white;
    width: 20rem;
    padding: 1rem;
}



/*STYLING AF DESKTOP*/

@media (min-width:770px) {
    #k_first_section, #conclusion{
        margin: 0 auto;
        background-color: white;
        max-width: 45rem;
        padding: 5rem;
outline: solid 10px var(--background-s-green);
    }

    #conclusion {
        margin-top: 15rem;
        }

    #k_boks{
        background-color: transparent;
        margin-bottom: -12.5rem;
        outline: none;
    }

    .boks {
        width: 65%;
        height: 16rem;
        transform: skew(13deg);
        background-color: 	var(--background-s-green);
        margin: 0 auto;
        position: relative;
        margin-bottom: -12rem;
top: 2rem;
        }

        .boks_two {
            width: 65%;
            height: 16rem;
            transform: skew(13deg);
            position: relative;
            background-color: 	var(--background-s-green);
            margin: 0 auto;
            top: 3rem;
            }

#hul_billede{
    width: 30rem;
    margin: 0 auto;
    position: relative;
    left: 0.3rem;
    top: 1rem;
    transition: 3s;
}

#hul_billede:hover{
    transform:scale(0.9);
    transition: 3s;

    
}



#hul_billede_two{
    display: block;
    margin: 0 auto;
width: 30rem;
padding-top: 0rem;
position: relative;
transition: 3s;
margin-top: -10rem;

}

#hul_billede_two:hover{
    transform:scale(0.9);
    transition: 3s;

}

  p{
      padding-top: 0;
  }


.list_card{  
    width: 100%;
    flex: 1 0 300px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 1rem 0.25em;
    border-radius: 0.25rem;
    overflow: hidden;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    transition: 2s;
}

.list_card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    transition: 2s;
}

.w_list_cards{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
    background-color:var(--background-s-green);
}

}

.w_list_cards{
    margin: 0 auto;
}

.list_card{  
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0.25em;
    border-radius: 0.25rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.377);
    background-color: rgb(255, 255, 255);
    transition: 2s;
}

  
button, .btn_list{
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
    width: 8rem;
    padding: 0.7rem;
    border-style: none;
    cursor: pointer;
    border-radius: 7px;
    transition: 1s;
}

button:hover, .btn_list:hover{
    background-color: rgb(200, 255, 0);
    color: black;
    transform: scale(1.07);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.223);
    transition: 1s;
    text-decoration: none;
}
